@charset "UTF-8";

@import "~@wordpress/block-library/src/columns/style.scss";

@mixin wp-block-columns() {
  .wp-block-columns {

    .wp-block-column-inner {
      width: 100%;
      height: 100%;
    }

    .wp-block-column {
      margin-bottom: $block-spacing;

      @media (min-width: #{ ($break-medium) }) {
        margin-bottom: 0;
      }

      @media (min-width: #{ ($break-small) }) and (max-width: #{ ($break-medium - 1) }) {

        flex-basis: calc(50% - $grid-unit-10) !important;
        &:nth-child(even) {
          margin-left: $grid-unit-20;
        }
      }
    }
  }
}
