@charset "UTF-8";

@function rem-to-px($rem) {
  @if (str-index($global_font-size, '%')) {
    $base: strip-unit($global_font-size);
  }
  $value: unitless-calc($rem) * $base;
  $value: round($value);
  @return #{$value}px;
}

@function grid-unit() {
  @if map-has-key($grid-column-gutter, small) {
    @return round(map-get($grid-column-gutter, small) / 2);
  } @else {
    @return 8px;
  }
}
